h1 {
    color: rgb(228, 107, 51);
    justify-content: ;
}
h2{
    color:rgb(31, 71, 235)
}
img {
    width: 50%;
    max-width: 2000px;
    height: auto;
    display: block;
    color: rgb(12, 191, 241);
}

.titulo {
    display: flex;
    justify-content: center;
    font-size: 3em;
    color: #b12727;
    text-align: center;
}